OPENAI_API_KEY=***
NOTION_PARENT_PAGE_ID=***
NOTION_API_VERSION=***

NOTION_NOTES_READ_ENABLED=***
NOTION_TASKS_READ_ENABLED=***
NOTION_MEMORY_READ_ENABLED=***

NOTION_KNOWLEDGE_SYNC_ENABLED=***
NOTION_KNOWLEDGE_SYNC_INTERVAL_MINUTES=***
NOTION_KNOWLEDGE_SYNC_RETRY_COUNT=***